@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;700&display=swap");

body {
  margin: 0;
  font-family: 'Barlow',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-off-white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --primary-off-white: #efefef;
  --primary-off-black: #121212;
  --primary-light-gray: #d2d2d2;
  --primary-gray: #bdbdbd;
  --primary-darker-gray: #aaaaaa;
}

a{
  text-decoration: none;
  color: inherit;
}