.navbar-container{
    position: fixed;
    height: 100px;
    width: 100%;
    background-color: var(--primary-off-black);
    color: var(--primary-off-white);
    display: flex;
    align-items: center;
}

.nav-header{
    margin-left: 200px;
}

.nav-items{
    display: flex;
    list-style: none;
    margin-right: 200px;
    margin-left: auto;
    gap: 20px;
    
}

.nav-item{
    height: 40px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    font-size: 24px;
}

.nav-item:hover{
    background-color: var(--primary-off-white);
    color: var(--primary-off-black);
    border-radius: 24px;
    cursor: pointer;
}